# dependencies
**/node_modules
/.pnp
.pnp.js

# build
**/build

# testing
**/coverage

# miscellaneous
.DS_Store
.idea
*.code-workspace

# environment
.env
.env.*

# logging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
